$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl:1440px;

$gris-bg: #2e2f38;
$red: #fa504d;
$grey-light: #8e8e8e;

$font-title: "Belgrano", serif;
$font-normal: "Poppins", sans-serif;
