body {
  font-family: $font-normal;
  font-size: 16px;
  min-height: 100vh;
  &::before {
    content: "";
    width: 480px;
    max-width: 480px;
    background-color: #2e2f38;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
   
    background-image: url("../img/artzie.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-position: 99% 70%;
    background-size: 180px;
  }
}
